<div class="container">
    <footer class="my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/home" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Announcement</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Disclimar</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
      </ul>
      <p class="text-center text-body-secondary" id="copy-right-date"></p>
    </footer>
  </div>
  <script>
    const year=new Date().getFullYear();
    let copyright= document.getElementById("copy-right-date");
    copyright.innerHTML = '© '+year+' GVGR';
  </script>