<nav class="navbar navbar-expand-lg rounded" aria-label="Thirteenth navbar example" id="nav-bar">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11"
      aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarsExample11" style="background:transparent">
      <a class="navbar-brand col-lg-3 me-0" href="#"> </a>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>        
      </ul>
      <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        <a href="/login" class="btn btn-primary">Login</a>
      </div>
    </div>
    <img id="jkc-logo" src="https://res.cloudinary.com/dlovqnrza/image/upload/v1684133386/JKC_TITLE_LOGO_jdgrki.jpg"></img>
  </div>
</nav>
